body{
    font-family: Arial;
    margin: 0;
}

header{
    background-color: #6C597E;
    color: white;
    padding: 20px;
    text-align:center;
}

nav{
    background-color: #C6AFB1;
    color:#C6AFB1;
    padding: 20px;
    text-align: left;
}

nav a{
    color:black;
    margin:15px;
    text-decoration: none;
}

main{
    color:aliceblue;
    margin:15px;
    padding: 60px;
    background: #6C597E;
}

section{
    color:black;
}

article{
    background: #B0A3D4;
    color:black;
    margin-bottom: 15px;
    padding:15px;
    border: 1px solid #ddd;
}

aside img{
    width:300px;
    height: auto;
    float: center;
}

footer{
    background: #C6AFB1;
    color:aliceblue;
    text-align: center;
    padding: 15px;
}