body{
    font-family: Arial;
    margin: 0;
}

header{
    background-color: #6C596E;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

nav{
    background: #CEBACF;
    color: black;
    padding: 20px;
    text-align: left;
}

nav a{
    color: black;
    margin: 15 px;
    text-decoration: none;
}


nav img{
    display: flex;
    margin: 0 auto;
    align-items: center;
    
}
main{
    color:rgb(255, 255, 255);
    display:flex;
    padding: 60px;
    background-color: #6C596E;
}

section{
    color:black;
}

article{
    background: #B0A3D4;
    color:rgb(3, 3, 3);
    margin-bottom: 15px;
    padding: 30px;
    border: 1px solid #ddd;

}


aside img{
    width: 300px;
    height: auto;
    float: center;
}

footer{
    background-color: #C6AFB1;
    color: aliceblue;
    text-align: center;
    padding: 15px;
}